<!DOCTYPE html>
<html>
    <head>
        {# Encodage standards des caractères du web #}
        <meta charset="UTF-8">

        {# Minim de responsive design à toujours mettre en place #}
        <meta name="viewport" content="width=device-width, initial-scale=1">


        {# Le titre de la page #}
        <title>Jean Dupont{% block title %}{% endblock %}</title>

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest"  href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg" color="#5bbad5') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {# Font awesome #}
        {% block fontAwesome %}{% endblock %}

        {# Font family #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">

        {# A css part of webpack encore #}
        {% block webpack_encore_stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# A js part of webpack encore #}
        {% block webpack_encore_javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        {# My stylesheet #}
        {# <link rel="stylesheet" href="{{ asset('styles.app.css') }}"> #}
    </head>
    <body class="jd-body">

        {# Navbar #}
        {% include "layouts/navbar/navbar_visitor.html.twig" %}

        {# The specific content for each page #}
        {% block main %}{% endblock %}

        {# Footer #}
        {% include "layouts/footer/footer_visitor.html.twig" %} 

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>AOS.init();</script>
        {% block javascript %}{% endblock %}

    </body>
</html>
